{% style %}
  .search-button,
  .cart-button {
    border: 1px solid #000000;
  }
{% endstyle %}

<header class="header w-full py-8   ">
  <nav class=" container mx-auto flex justify-between items-center ">
    <a href="{{ '/' |  within: '' }}" class="underline-none w-auto h-auto lg:block hidden">
      {% if section.settings.header_logo != blank %}
        {{
          section.settings.header_logo
          | image_url: width: 200
          | image_tag: class: 'header-logo-img  '
        }}
      {% endif %}
    </a>
    <button class=" block lg:hidden">
      {% render 'icon-hambargar' %}
    </button>

    <ul class="flex items-center justify-center xl:gap-x-8 gap-x-4 ">
      {% for link in section.settings.navigation.links %}
        <li>
          <a href="{{ link.url }}" class="header-raly">
            {{ link.title }}
          </a>
        </li>
      {% endfor %}
    </ul>

    <ul class="icons flex w-auto h-auto gap-x-[2.5rem]">
      <li>
        <button class="w-[3.75rem] h-[3.75rem] rounded-full search-button flex items-center justify-center">
          {% render 'icon-search' %}
        </button>
      </li>
      <li>
        <button class="cart-button flex items-center max-w-[187px] w-full h-[3.75rem] rounded-full px-[7px] py-[10px]  para-pop text-[1.5rem] justify-center">
          cart - 0
        </button>
      </li>
    </ul>
  </nav>
</header>

{% schema %}
{
  "name": "header",
  "class": "section-header",
  "settings": [
    {
      "type": "image_picker",
      "id": "header_logo",
      "label": "header logo"
    },
    {
      "type": "link_list",
      "id": "navigation",
      "label": "navigation menu",
      "default": "main-menu"
    }
  ]
}
{% endschema %}
