<header class="header w-full  mx-auto  ">
    <nav class=" container mx-auto flex justify-between items-center border">
        <div class="w-auto h-auto ">
            <h1>DAWN</h1>
        </div>
        <div class="icons flex w-auto h-auto">
            <h1>icon 1</h1>
            <h1>icon 2</h1>
        </div>
    </nav>
</header>
